| Someone has contacted you from Nullivex.com!
| #{' '}
| Please review the information and respond appropriately
| #{' '}
| Name: #{data.name + ' ' + data.lastName}
| #{' '}
| Email Address: #{data.email}
| #{' '}
| Phone Number: #{data.phone}
| #{' '}
| Message: #{data.message}
