extends ../layout
append css
  link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/highlightjs-8.8.0/styles/github.css')
  link(rel='stylesheet', type='text/css', href='//bowercdn.net/c/github-markdown-css-2.0.10/github-markdown.css')
block title
  title #{blog.title} - Nullivex
block content
  .container
    .content.content-container(style='padding-top: 20px;')
      article.markdown-body
        h1
          a(href='/blog/#{blog.uri}')= blog.title
        p
          +socialMedia()
        p(style='margin-top:-5px')
          | Posted: #{moment(blog.datePosted).format('MMM DD, YYYY')}
          | by <a href="#{blog.authorUrl ? blog.authorUrl : 'http://www.nullivex.com'}">#{blog.author}</a>
        | !{blog.html}
        p(style='margin-top: 10px')
          +socialMedia()
      #disqus_thread
        script(type='text/javascript').
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'nullivex';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function(){
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        noscript
          | Please enable JavaScript to view the
          a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.
block js
  script(src='//bowercdn.net/c/jquery-1.11.1/dist/jquery.min.js')
    script(src='//bowercdn.net/c/bootstrap-3.2.0/dist/js/bootstrap.min.js')
    script(src='//bowercdn.net/c/highlightjs-8.8.0/highlight.pack.min.js')
    script(src='js/jquery.bxslider.min.js')
    script.
      (function(i,s,o,g,r,a,m){
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function(){
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create','UA-67843687-1','auto');
      ga('send','pageview');
    script.
      //start highlighting code
      hljs.initHighlightingOnLoad();
    //Po.St social media tool
    script(src='http://i.po.st/static/v3/post-widget.js#publisherKey=jfc33tb3jvvlofbninhl&retina=true', type='text/javascript')
